<body>
   <header>
     <a href="/"><img src="/img/dishlogo.png" alt="로고" /></a>
   </header>

   <div class="container">
     <div class="login-box">
       <h2>DISH, 우리동네 맛집 속으로.</h2>
       <input type="text" placeholder="아이디" />
       <input type="password" placeholder="비밀번호" />
       <button>로그인</button>
       <div class="small-text">
         <p><a href="#">비밀번호를 잊으셨나요?</a></p>
         <p>계정이 없으신가요? <a href="signup.html">회원가입</a></p>
		 <button type="button" onClick="location.href='/member/signup'">회원가입</button>
       </div>
     </div>
   </div>
 </body>