<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
	<link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
    <header>
        <div class="header img">
            <a href="/"><img src="/static/img/dish.png" alt="로고" /></a>
        </div>
    </header>
    <div class="container">
        <div class="login-box">
            <h2>DISH, 우리동네 맛집 속으로</h2>
            <form th:action="@{/member/login}" method="post">
                <input type="text" name="userId" required placeholder="아이디" />
                <input type="password" name="userPw" required placeholder="비밀번호" />
                <button type="submit">로그인</button><br/>

                <div class="small-text">
					<!-- 비밀번호 찾기 신준 2025-05-22 -->
                    <p><a href="/member/find-password">비밀번호를 잊으셨나요?</a></p>
                    <p>계정이 없으신가요? <a href="/member/signup">회원가입</a></p>
                </div>
            </form>

            <div id="welcomeMessage" th:if="${welcomeMessage}" style="color: green; font-weight: bold;">
                <p th:text="${welcomeMessage}"></p>
            </div>

            <div id="error" th:if="${error}" style="color: red; font-weight: bold;">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>

    <script>
        // 3초 뒤에 메시지를 숨김
        setTimeout(function() {
            const messageDiv = document.getElementById("welcomeMessage");
            const errorMessageDiv = document.getElementById("error");

            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 3000);
        
        setTimeout(function() {
            const errorMessageDiv = document.getElementById("error");
            if (errorMessageDiv) {
                errorMessageDiv.style.display = "none";
            }
        }, 3000);
    </script>    
</body>
</html>